* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: aliceblue;
}

main {
    height: 100%;
    background-color: azure;
}

main #add-book-btn {
    cursor: pointer;
    font-size: 125px;
    background-color: beige;
}

main .books-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    gap: 20px 20px;

    padding: 20px;
    background-color: azure;
}

main .book-card, main .button-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: beige;
}

main .card-close-btn {
    cursor: pointer;
    padding: 7px 10px;
}