:root {
    --card-color: rgb(228, 228, 228);
    --header-color: rgb(208, 208, 208);
    --background-color: rgb(244, 244, 244);
}

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: var(--header-color);
}

main {
    height: 100%;
    background-color: var(--background-color);
}

main #add-book-btn {
    cursor: pointer;
    font-size: 125px;
    background-color: var(--card-color);
}

main .books-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 219px;
    gap: 20px 20px;

    padding: 20px;
    /* background-color: azure; */
}

main .book-card, main .button-card {
    background-color: var(--card-color);
}

main .button-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .book-card {
    display: grid;
    grid-template-rows: 29px 50px 50px 50px 40px;
    align-items: center;
}

main .book-card .have-read {
    background-color: rgb(255, 158, 158);
    padding: 12px;
}

main .book-card .have-read[haveread='true'] {
    background-color: rgb(178, 217, 181);
    padding: 12px;
}

main .card-close-btn {
    cursor: pointer;
    padding: 7px 10px;
    background-color: var(--header-color);
}

.name,
.author,
.pages {
    padding-left: 25px;
}

main .book-card .name {
    font-weight: bold;
}

main .book-card .author {
    font-style: italic;
}